@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  h2 {
    background: #982c2c;
    font-size: 2rem;
    color: whitesmoke;
    padding: 5px 10px;
    animation: animateThis 1s ease-in forwards;
  }

  @keyframes animateThis {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  h1 {
    margin: 0;
    font-size: 7rem;
    color: whitesmoke;
    text-transform: uppercase;
    span {
      color: #982c2c;
      -webkit-text-stroke-width: 0.3px;
      -webkit-text-stroke-color: whitesmoke;
    }
    #span {
      color: #2c3e98;
    }
  }
  a {
    background: #982c2c;
    padding: 10px 20px;
    border-radius: 16px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .container {
    h2 {
      font-size: 1.5rem;
    }
    h1 {
      font-size: 3rem;
      margin: 10px;
    }
  }
}